@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --background: #0a0a0a;
  --background-hover: #1a1a1a;
  --background-dark: #050505;
  --background-card: #111111;
  --foreground: #ededed;
  --foreground-hover: rgba(237, 237, 237, 0.1);
  --primary: #02c077;
  --primary-hover: #7bffcc7d;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: var(--primary);
}
.custom-swiper .swiper-button-disabled {
  opacity: 0.35;
  pointer-events: none;
}
